/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/public/sw.js
/storage/*.key
/vendor
/.vagrant
Homestead.json
Homestead.yaml
.env
/bower_components
.idea
.DS_Store
/public/css/
/public/js/
/public/build/
/public/vendor/
/render_server/main.build.js